@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    min-height: 100vh;
}

.page1 {
    position: relative;
    width: 100%;
    background-color: #823513;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px dotted #faae33;
    z-index: 10;
}

header a{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    background: #faae33;
    color: #402011;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    border-radius: 30px;
}

#buyBtn i{
    padding-left: 0.3rem;
}

nav-mid {
    position: relative;
    right: 5rem;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 700vh;
    z-index: 9;
}

.canvasContainer {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 35%;
    left: 0;
    display: flex;
    justify-content: center;
    overflow-x: clip;
}

#frame {
    width: 100%;
    height: 100vh;
    display: block;
    transform: scale(1.3);
}

.background, .background2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(./images/background.undefined);
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: 1;
}

.background2 {
    background-image: url(./images/texture.avif);
    opacity: 0.3;
    z-index: 0;
}

.right-navigation {
    position: fixed;
    bottom: 5%;
    right: 2%;
    display: flex;
    gap: 0.3rem;
    z-index: 10;
}

.right-navigation a {
    background: #faae33;
    color: #402011;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-navigation i {
    font-size: 1.5rem;
}

.textBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #faae33;
    z-index: 3;
}

#heading {
    width: 100%;
    text-align: center;
    font-size: 13rem;
    font-weight: 800;
    letter-spacing: -1rem;
    line-height: 13rem;
    border-bottom: 5px dotted #faae33;
}

.textBox h4{
    font-size: 5rem;
    letter-spacing: -0.25rem;
}

#box1{
    width: 100%;
    height: 5%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#box1 p{
    width: 14%;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.btn{
    padding: 1rem 1.5rem;
    width: 7rem;
    text-decoration: none;
    background: #faae33;
    color: #402011;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}